[submodule "moose"]
	path = moose
	url = https://github.com/apc-llc/moose
[submodule "ewe"]
	path = ewe
	url = https://github.com/apc-llc/ewe
[submodule "petsc"]
	path = petsc
	url = https://github.com/petsc/petsc.git
